body,
html {
  margin: 0;
  padding: 0;
  background-color: #606060ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  margin: 15rem 30rem;
  border: 1.5rem solid white;
  border-radius: 50%;
  border-top: 1.5rem solid #d6ed17ff;
  width: 14rem;
  height: 14rem;
  animation: scroll 2s linear infinite;
}

@keyframes scroll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
